name: Add items to roadmap project

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/civilgamers/projects/5
          github-token: ${{ secrets.PROJECT_TOKEN }}
